<div class="container__card-editor">
    <div class="btn__bar">
        <button class="btn__reset">
            <div class="ico__reset-img"><i class="far fa-trash-alt"></i></div>
            <div class="ico__reset-text">RESET</div>
        </button>
    </div>
    <div class="card__details">
        <div class="card__data">
            <div class="card__data-name">Nombre y Apellido</div>
            <div class="card__data-job">Front end Developer</div>
        </div>
        <div class="card__img"></div>
        <div class="list__card-contact">
            <ul class="card__contact">
                <li class="contact-icons">móvil</li>
                <li class="contact-icons">mail</li>
                <li class="contact-icons">linkedin</li>
                <li class="contact-icons">GITHUB</li>
            </ul>
        </div>
        <div class="list__card-skills">
            <ul class="card__skills">
                <li>HTML</li>
                <li>CSS</li>
                <li>GULP</li>
            </ul>
        </div>
    </div>
</div>