<div class="container__card-editor">
    <div class="btn__bar">
        <button class="btn__reset" type="button">
            <div class="ico__reset-img"><i class="far fa-trash-alt"></i></div>
            <div class="ico__reset-text">Reset</div>
        </button>
    </div>
    <div class="card__details">
        <div class="card__data card-data__color1">
            <div class="card__data-name typo-1">Nombre y Apellido</div>
            <div class="card__data-job typo-1">Front end Developer</div>
        </div>
        <div class="card__img"></div>
        <div class="list__card-contact">
            <ul class="card__contact">
                <li id="icon__phone" class="contact-icons contact-icons__color1 opacity"><i class="fas fa-mobile-alt"></i></li>
                <li id="icon__email" class="contact-icons contact-icons__color1 opacity"><i class="far fa-envelope"></i></li>
                <li id="icon__linkedin" class="contact-icons contact-icons__color1 opacity"><i class="fab fa-linkedin-in"></i></li>
                <li id="icon__github" class="contact-icons contact-icons__color1 opacity"><i class="fab fa-github-alt"></i></li>
            </ul>
        </div>
        <div class="list__card-skills">
            <ul class="card__skills">
                <li class="card__skills-item card__skills-item__color1 opacity">html</li>
                <li class="card__skills-item card__skills-item__color1 opacity">css</li>
                <li class="card__skills-item card__skills-item__color1 opacity">gulp</li>
            </ul>
        </div>
    </div>
</div>
