<div class="container__card-editor">
    <div class="btn__bar">
        <button class="btn__reset">
            <div class="ico__reset-img"><i class="far fa-trash-alt"></i></div>
            <div class="ico__reset-text">RESET</div>
        </button>
    </div>
    <div class="card__details">
        <div class="card__data">
            <div class="card__data-name">Nombre y Apellido</div>
            <div class="card__data-job">Front end Developer</div>
        </div>
        <div class="card__img"></div>
        <div class="list__card-contact">
            <ul class="card__contact">
                <li class="contact-icons"><i class="fas fa-mobile-alt"></i></li>
                <li class="contact-icons"><i class="far fa-envelope"></i></li>
                <li class="contact-icons"><i class="fab fa-linkedin-in"></i></li>
                <li class="contact-icons"><i class="fab fa-github-alt"></i></li>
            </ul>
        </div>
        <div class="list__card-skills">
            <ul class="card__skills">
                <li class="card__skills-item">html</li>
                <li class="card__skills-item">css</li>
                <li class="card__skills-item">gulp</li>
            </ul>
        </div>
    </div>
</div>