<li class="bar__menu-card">
    <div class="wrapper__bar-menu">
        <div class="ico__bar"></div>
        <div class="tex__ico-bar">DISEÑA</div>
    </div>
    <div class="ico__arrow-menu">;)</div>
</li>
<div class="container__radios">
    <div class="radio__color">
        <h4 class="radio__titles">Colores</h4>
        <label for="radio__color-1">
            <input id="palet__color-1" type="radio" value="color" name="optionscolor">
            <div class="color-1"></div>
            <div class="color-2"></div>
            <div class="color-3"></div>
        </label>
        <label for="radio__color-2">
            <input id="palet__color-2" type="radio" value="color" name=optionscolor>
            <div class="color-4"></div>
            <div class="color-5"></div>
            <div class="color-6"></div>
        </label>
        <label for="radio__color-3">
            <input id="palet__color-3" type="radio" value="color" name=optionscolor>
            <div class="color-7"></div>
            <div class="color-8"></div>
            <div class="color-9"></div>
        </label>
    </div>
    <div class="radio__typo">
        <h4 class="radio__titles">Fonts</h4>
        <div class="option__font-1">
            <label for="radio__typo-1">
                <input id="option__font-1" type="radio" value="typography" name=optionsfont>
                <div class="typo-1">Ubuntu</div>
            </label>
        </div>
        <label for="radio__typo-2">
            <input id="option__font-2" type="radio" value="typography" name=optionsfont>
            <div class="typo-2">Comic Sans</div>
        </label>
        <label for="radio__typo-3">
            <input id="option__font-3" type="radio" value="typography" name=optionsfont>
            <div class="typo-3">Montserrat</div>
        </label>
    </div>
</div>