<fieldset class="form__personal-data form__fieldset">
    <li class="bar__menu-card">
        <div class="wrapper__bar-menu">
            <div class="ico__bar"></div>
            <i class="card-main__icon far fa-object-ungroup"></i>
            <div class="tex__ico-bar">Rellena</div>
            <div class="ico__arrow-menu"><i class="fas fa-chevron-down"></i></div>
        </div>
    </li>
    <div class="fill__title--form fill__full-name">
        <label class="fill__label" for="fullName">
            Nombre completo
            <input class="block" id="fullName" type="text" value="" name="fullName" placeholder="Ej: Paquita Salas">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="job">
            Puesto
            <input class="block" id="job" type="text" value="" name="job" placeholder="Ej: Representante Unicorn">
        </label>
    </div>
    <div class="event__example"></div>
    <div class="fill__title--form btn__add-img">
        <label class="fill__label" for="btn__add-img">
            Imagen de Perfil
            <div class="fill__add-img">
            <input class="block" id="btn__add-img" type="file" value="Añadir imagen" name="btn__add-img" >
        </label>
        <div class="square__img"></div>
    </div>
    </div>
<div class="form__contact-data">
    <div class="fill__title--form">
        <label class="fill__label" for="email">
            Email
            <input class="block" id="email" type="email" data-dest="card__mail"  data-ico= "far fa-envelope"  value="" name="email" placeholder="Ej: psmanagement@gmail.com">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="phone__number">
            Teléfono
            <input class="block" id="phone__number" type="tel" data-dest="card__phone"  data-ico= "fas fa-mobile-alt" value="" name="phone__number" placeholder="Ej: 666555666">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="linkedin__net">
            Linkedin
            <input class="block" id="linkedin__net" type="url" data-dest="card__linkedin"  data-ico= "fab fa-linkedin-in"  value="" name="linkedin__net" placeholder="Ej: linkedin.com/paquita">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="gitHub__net">
            GitHub
            <input class="block" id="gitHub__net" type="text" data-dest="card__github"  data-ico= "fab fa-github-alt" value="" name="gitHub__net" placeholder="Ej: @paquita-salas">
        </label>
    </div>
<div class="form__skills-datacheckbox">
    <h4 class="fill__label title__skills">Habilidades (máximo 3)</h4>

    <div class="form__skills-html">
        <!-- cambio las ids, porque no pueden estar repetidas y por tanto tb cambio los for-->
        <label for="skills__data--html">
            <input id="skills__data--html" class="message__checkbox" type="checkbox" value="html">
            HTML
        </label>
    </div>
    <div class="form__skills-css">
        <label for="skills__data--css">
            <input id="skills__data--css"  class="message__checkbox" type="checkbox" value="css">
            CSS
        </label>
    </div>
    <div class="form__skills-gulp">
        <label for="skills__data--gulp">
            <input id="skills__data--gulp"  class="message__checkbox" type="checkbox" value="gulp">
            GULP
        </label>
    </div>
    </div>
</fieldset>