<fieldset class="form__personal-data">
<li class="bar__menu-card">
    <div class="wrapper__bar-menu">
        <div class="ico__bar"></div>
        <div class="tex__ico-bar">RELLENA</div>
    </div>
    <div class="ico__arrow-menu">:)</div>
</li>
        <div class="full__name">
            <label for="fullName">
                Nombre completo
                <input id="fullName" type="text" value="" name="fullName" placeholder="Ej: Paquita Salas">
            </label>
        </div>
        <div class="job">
            <label for="job">
                Puesto
                <input id="job" type="text" value="" name="job" placeholder="Ej: Representante Unicorn">
            </label>
        </div>
        <div class="event__example"></div>
        <div class="btn__add-img">
            <label for="btn__add-img">
                Imagen de Perfil
                <input id="btn__add-img" type="button" value="Añadir Imagen" name="btn__add-img">
            </label>
            <div class="square__img">:)</div>
        </div>
    </fieldset>
    <fieldset class="form__contact-data">
        <div class="email">
            <label for="email">
                Email
                <input id="email" type="email" value="" name="email" placeholder="Ej: psmanagement@gmail.com">
            </label>
        </div>
        <div class="phone__number">
            <label for="phone__number">
                Teléfono
                <input id="phone__number" type="tel" value="" name="phone__number" placeholder="Ej: 666555666">
            </label>
        </div>
        <div class="linkedin__net">
            <label for="linkedin__net">
                Linkedin
                <input id="linkedin__net" type="url" value="" name="linkedin__net" placeholder="Ej: linkedin.com/paquita">
            </label>
        </div>
        <div class="gitHub__net">
            <label for="gitHub__net">
                GitHub
                <input id="gitHub__net" type="text" value="" name="gitHub__net" placeholder="Ej: @paquita-salas">
            </label>
        </div>
    </fieldset>
    <fieldset class="form__skills-datacheckbox">
        <h4 class="checkbox__title">Habilidades (máximo 3)</h4>

        <div class="form__skills-html">
            <label for="skills-data">
                <input id="skills-data" type="checkbox" value="">
                HTML
            </label>
        </div>
        <div class="form__skills-css">
            <label for="skills-data">
                <input id="skills-data" type="checkbox" value="">
                CSS
            </label>
        </div>
        <div class="form__skills-gulp">
            <label for="skills-data">
                <input id="skills-data" type="checkbox" value="">
                GULP
            </label>
        </div>
    </fieldset>