<fieldset class="form__personal-data form__fieldset">
    <li class="bar__menu-card">
        <div class="wrapper__bar-menu">
            <div class="ico__bar"></div>
            <i class="card-main__icon far fa-object-ungroup"></i>
            <div class="tex__ico-bar">Rellena</div>
            <div class="ico__arrow-menu"><i class="fas fa-chevron-down"></i></div>
        </div>
    </li>
    <div class="fill__title--form fill__full-name">
        <label class="fill__label" for="fullName">
            Nombre completo
            <input class="block" id="fullName" type="text" value="" name="fullName" placeholder="Ej: Paquita Salas">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="job">
            Puesto
            <input class="block" id="job" type="text" value="" name="job" placeholder="Ej: Representante Unicorn">
        </label>
    </div>
    <div class="event__example"></div>
    <div class="fill__title--form btn__add-img">
        <label class="fill__label" for="btn__add-img">
            Imagen de Perfil
            <div class="fill__add-img">
            <input class="block" id="btn__add-img" type="button" value="Añadir imagen" name="btn__add-img">
        </label>
        <div class="square__img"></div>
    </div>
    </div>
<div class="form__contact-data">
    <div class="fill__title--form">
        <label class="fill__label" for="email">
            Email
            <input class="block info__details" id="email" type="email" value="" name="email" placeholder="Ej: psmanagement@gmail.com">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="phone__number">
            Teléfono
            <input class="block info__details" id="phone__number" type="tel" value="" name="phone__number" placeholder="Ej: 666555666">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="linkedin__net">
            Linkedin
            <input class="block info__details" id="linkedin__net" type="url" value="" name="linkedin__net" placeholder="Ej: linkedin.com/paquita">
        </label>
    </div>
    <div class="fill__title--form">
        <label class="fill__label" for="gitHub__net">
            GitHub
            <input class="block info__details" id="gitHub__net" type="text" value="" name="gitHub__net" placeholder="Ej: @paquita-salas">
        </label>
    </div>
<div class="form__skills-datacheckbox">
    <h4 class="fill__label title__skills">Habilidades (máximo 3)</h4>

    <div class="form__skills-html">
        <label for="skills-data">
            <input id="skills-data1" class="skills__checkbox" type="checkbox" value="1">
            HTML
        </label>
    </div>
    <div class="form__skills-css">
        <label for="skills-data">
            <input id="skills-data2" class="skills__checkbox" type="checkbox" value="2">
            CSS
        </label>
    </div>
    <div class="form__skills-gulp">
        <label for="skills-data">
            <input id="skills-data3" class="skills__checkbox" type="checkbox" value="3">
            GULP
        </label>
    </div>
    </div>
</fieldset>
