<div class="page__wrapper">
<div class="home__container">
    <header class="home__logo"></header>
    <main class="home__main">
        <h1 class="home__main--title">Crea tu tarjeta de visita</h1>
        <p class="home__main--text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        <ul class="home__options">
            <li class="home__options--item">Diseña</li>
            <li class="home__options--item">Rellena</li>
            <li class="home__options--item">Comparte</li>
        </ul>
        <a href="">
        <div class="home__link">Comenzar</div>
        </a>

    </main>


</div>
</div>