<fieldset class="form__share form__fieldset">
  <li class="bar__menu-card">
    <div class="wrapper__bar-menu">
      <div class="ico__bar"></div>
      <i class="fas fa-share-alt card-main__icon"></i>
      <div class="tex__ico-bar">Comparte</div>
      <div class="ico__arrow-menu"><i class="fas fa-chevron-down"></i></div>
    </div>
  </li>
  <div class="share_btn--container hidden">
    <button class="btn__create-card" type="button"><i class="far fa-id-card share__icon"></i>Crea tarjeta</button>
    <div class="twitter__hidden share__twitter">
        <div class="share__title">La tarjeta ha sido creada:</div>
        <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">
          Compartir en Twitter</a>
      </div>
  </div>
</fieldset>
