<fieldset class="form__share form__fieldset">
    <li class="bar__menu-card">
        <div class="wrapper__bar-menu">
            <div class="ico__bar"></div>
            <i class="fas fa-share-alt card-main__icon"></i>
            <div class="tex__ico-bar">Comparte</div>
            <div class="ico__arrow-menu"><i class="fas fa-chevron-down"></i></div>
        </div>
    </li>
    <div class="share_btn--container">
        <button class="btn__create-card"><i class="far fa-id-card share__icon"></i>Crea tarjeta</button>
    </div>
</fieldset>
