<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu tarjeta de visita</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Open+Sans:400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gaegu:400,700" rel="stylesheet">
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">

</head>

<body>
    <partial src="_card_header.html"></partial>
    <partial src="_card_main.html"></partial>
    <partial src="_footer.html"></partial>
    <script type="text/javascript" src="assets/js/main.min.js"></script>
</body>

</html>
