fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.container__radio-input {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;

}

.radio__titles {
    font-size: 14px;
    color: $gunmetal;
    font-family: $font-text; 
    text-transform: uppercase;
    display: inline;
}

.palet__color-squares {
    display: inline-flex;
    align-items: center;
    display: flex;
}

.input__label-color {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.radioButtonColor {
    margin-right: 10px;
}

.input__label-typo {
    display: flex;
}

.radio__typo{
    padding-top: 33px;
}

.radio__color{
    padding-top: 25px;
}

// Pienso que se podrían unificar las clases de los recuadros de la paleta, puesto que he puesto cada background desde el HTML y solo necesitamos que nos de los tamaños, REVISAR //

.color{
    width: 30px;
    height: 30px;
}

.color-1 {
    background-color: $dark-green-blue;
}

.color-2 {
    background-color: $dirty-blue;
}

.color-3 {
    background-color: $hospital-green;
}

.color-4 {
    background-color: $dried-blood;
}

.color-5 {
    background-color: $rusty-red;
}

.color-6 {
    background-color: $tomato;
}

.color-7 {
    background-color: $slate;
}

.color-8 {
    background-color: $pale-grey-two;
}

.color-9 {
    background-color: $light-grey-blue;
}

.option__font-1 {
    display: flex;
}

.typo-1 {
    font-family: $typo1;
    font-size: 16px;
}

.typo-2 {
    font-family: $typo2;
    font-size: 16px;
}

.typo-3 {
    font-family: $typo3;
    font-size: 16px;
}