.card__header {
    height: 111px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}
.editor__logo{
    background: url('../images/logo-card.svg') center center no-repeat;
    height: 51px;
    width: 201px;
    background-size: cover;
}
.logo__wild{
    background: url('../images/logo.png') center center no-repeat;
    background-size: cover;
    width: 130px;
    height: 90px;
}
.tittle__hiden{
    visibility:hidden;
    width: 0px;
    height: 0px;
    margin: 0px;
}
