.container__card-editor{
    background-image: linear-gradient(to bottom, $silver, $pale-grey);
    padding-right: 35px;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 30px;
    height: 457px;
}
.btn__reset {
    height: 30px;
    width: 75px;
    background-color: transparent;
    border-radius: 15px;
    padding: unset;
    border-color: $white;
    margin-bottom: 20px;
}

.card__details{
    background-color: $white;
    height: 367px;
    padding-top: 20px;
    

}
.btn__reset{
    display: flex;
}
.ico__reset-img{
    color: $gunmetal;
    padding-left: 10px;
    margin-right: 10px; 
}
.ico__reset-text{
    color: $gunmetal;
}
.card__data{
    margin-left: 20px;
    margin-bottom: 10px;
}
.card__data-name{
    margin-bottom: 5px;
}
.card__img{
    width: 240px;
    height: 200px;
    background: url('../images/paquita.jpg') center center no-repeat;
}
.card__contact{
    display: flex;
}
.card__skills{
    display: flex;
}
.contact-icons{
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: solid 2px $hospital-green;
    color: red;
}
