fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.container__radio-input {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin-bottom: 20px;

}

.radio__titles {
    font-size: 14px;
    color: $gunmetal;
    font-family: $font-text; 
    text-transform: uppercase;
    display: inline;
}

.palet__color-squares {
    display: inline-flex;
    align-items: center;
    display: flex;
}
.input__label {
    display: flex;
}


// Pienso que se podrían unificar las clases de los recuadros de la paleta, puesto que he puesto cada background desde el HTML y solo necesitamos que nos de los tamaños, REVISAR //

.color-1{
    width: 30px;
    height: 30px;

}
.color-2{
    width: 30px;
    height: 30px;
}
.color-3{
    width: 30px;
    height: 30px;
}
.color-4{
    width: 30px;
    height: 30px;
}
.color-5{
    width: 30px;
    height: 30px;
}
.color-6{
    width: 30px;
    height: 30px;
}
.color-7{
    width: 30px;
    height: 30px;
}
.color-8{
    width: 30px;
    height: 30px;
}
.color-9{
    width: 30px;
    height: 30px;
}
.option__font-1 {
    display: flex;
}

.typo-1 {
    font-family: $typo1;
    font-size: 16px;
    color: $gunmetal;
}
.typo-2 {
    font-family: $typo2;
    font-size: 16px;
    color: $gunmetal;
}
.typo-3 {
    font-family: $typo3;
    font-size: 16px;
    color: $gunmetal;
}