*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.page__wrapper{
    margin: 0 26px;
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


